<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <cl-navigation>
        <a *clTemplate [routerLink]="['/', 'tab1']" routerLinkActive="cl-active">
            first link
        </a>
        <a *clTemplate [routerLink]="['/', 'tab2']" routerLinkActive="cl-active">
            second
        </a>
        <a *clTemplate [routerLink]="['/', 'tab1']" routerLinkActive="cl-active">
            third
        </a>
        <a *clTemplate="'right'" [routerLink]="['/', 'tab2']" routerLinkActive="cl-active">
            right
        </a>
    </cl-navigation>
</div>
<router-outlet></router-outlet>

